name: Sample Workflow

on:
  pull_request:
    branches: [main]
    types: [opened, synchronize]

jobs:
  sample:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "22"

      - name: Install dependencies
        run: npm ci --frozen-lockfile

      - name: Create deployment
        if: ${{github.event_name == 'push'}}
        uses: sws2apps/render-deployment@v2.0.0
        with:
          serviceId: ${{ secrets.RENDER_SERVICE_ID }}
          apiKey: ${{ secrets.RENDER_API_KEY }}
