name: Sample Workflow

on:
    push:
        branches:
            - main

jobs:
    sample:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repo
              uses: actions/checkout@v4

            - name: Setup Node
              uses: actions/setup-node@v4
              with:
                  node-version: "22"

            - name: Install dependencies
              run: npm install

            - name: Lint code
              run: npm run lint
